Hi there,

<%= @user_email %> has removed <%= @deleted_user_email %> from your organization, <%= @organization_name %>, on Helium Roaming Console at <%= @date_time %>.

You can view additional information regarding users here.