Hi there,

<%= @user_email %> has invited <%= @invitee_email %> to your organization, <%= @organization_name %>, on Helium Roaming Console at <%= @date_time %>.

You can view additional information regarding users here.